<div class="address-validator-output message col-mp mp-6 mp-clear iosc-whole"
     data-bind="css: { 'success': valid() === 'valid', 'error': valid() === 'invalid', 'info': valid() === 'info' }"
     visible="visible">
    <span data-bind="i18n: content"></span>
</div>
