<div class="field suggestions iosc-whole col-mp mp-6 mp-clear" visible="visible">
    <label class="label" for="address-validator-suggestions"><span data-bind="i18n: label"></span></label>
    <select id="address-validator-suggestions" name="address_suggestions" class="address-validator-suggestion-select" visible="selectVisible" data-bind="options: suggestions, optionsCaption: caption, value: selectedValue, optionsValue: function(item) { return item.resultNumber; }, optionsText: function(item) { return item.address.join(' '); }"></select>
    <br>
    <a href visible="singleVisible" data-bind="click: handleClickSuggestion"><span data-bind="text: singleText"></span></a>
</div>
